/*html,body{height:100%;}*/
.scm{background:url(../images/min_bg.png) no-repeat;}
/*#admin{font-size:14px;color:#545454;height:100%;}
.ad-comment-box{margin-left:235px;background-color:#ededef;height:100%;}
.ad-comment-box .ad-top-comment{}
*//*.ad-top-comment .ad-main-nav-box{height: 37px;background-color:#FFF;border:solid #c3c2c4;border-width:1px 0px 1px 0px;position:relative;}
.ad-top-comment .ad-main-wraper{margin-left:167px;overflow:hidden;}
.ad-top-comment .ad-main-wraper ul{padding: 6px 0px;float:left;}
.ad-top-comment .ad-main-wraper ul li{padding:0 12px;line-height: 25px;float:left;display:inline;cursor:pointer;}
.ad-top-comment .ad-main-wraper ul li:hover{font-weight:bold;}
.ad-top-comment .ad-main-wraper ul li.over{font-weight:bold;background-color:#efefef;box-shadow:0px 0px 3px #333 inset;border-radius:3px;}
.ad-top-comment .ad-sub-nav-box{height: 37px;background-color:#e4e4e7;border-bottom:4px solid #5c5956;position:relative;}
.ad-top-comment .ad-sub-record{position:absolute;width:144px;text-align:center;background-color:#dadadd;line-height:45px;color:#333;}
.ad-top-comment .ad-sub-wraper{margin-left:54px;padding-top: 5px;overflow:hidden;}
.ad-top-comment .ad-sub-wraper .ad-sub-list{height: 32px;float:left;}
.ad-top-comment .ad-sub-wraper .ad-sub-list li{line-height:36px;padding:0 15px;text-align:center;color:#26354a;float:left;display:inline;cursor:pointer;}
.ad-top-comment .ad-sub-wraper .ad-sub-list li:hover{background-color:#807c78;border-top-left-radius:8px;border-top-right-radius:8px;color:#FFF;cursor:pointer;}
.ad-top-comment .ad-sub-wraper .ad-sub-list .sub-close{width:22px;height:22px;background-position:-92px 0px;display:inline-block;margin-left:8px;vertical-align:middle;margin-top:-4px;cursor:pointer;}
.ad-top-comment .ad-sub-wraper .ad-sub-list .sub-close:hover{background-position:-92px -32px;}
.ad-top-comment .ad-sub-wraper .ad-sub-list li.active{background-color:#5c5956;border-top-left-radius:8px;border-top-right-radius:8px;color:#FFF;cursor:pointer;}
.ad-top-comment .jian-a{width:36px;height: 37px;position:absolute;top:0px;display:inline-block;background-image:url(../images/min_arrow.png);background-repeat:no-repeat;}
.ad-top-comment .pre{background-position: 12px -82px;}
.ad-top-comment .pre:hover{background-position:12px 10px;}
.ad-top-comment .main-sel{left:113px;}
.ad-top-comment .sub-sel{left:0px;}
.ad-top-comment .next{background-position: -81px -80px;right:0px;}
.ad-top-comment .next:hover{background-position:-81px 12px;}
.ad-top-comment .j_tabBg{background-color:#fff;}
.ad-top-comment .j_tabBg:hover{opacity:0.8;}*/
/*.ad-main-comment{background-color:#FFF; box-shadow:0px 0px 6px #ccc;*/ /*height:calc(100% - 134px);height:-moz-calc(100% - 134px);height:-webkit-calc(100% - 134px);*/}

/*#breadcrumbs-three{overflow:hidden;position:absolute;top:0px;left:0px;}
#breadcrumbs-three li{float:left;}
#breadcrumbs-three a{padding:9px 0px;text-align:center;width:90px;padding-right:21px;background:url(../image/ad-ara.jpg) no-repeat;float:left;text-decoration:none;color:#444;;text-shadow:0 1px 0 rgba(255,255,255,.5);}
*/